html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin-bottom: 250px; /* Ajusta el tamaño del footer */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333; /* Color de fondo del navbar */
    color: #ffffff; /* Color del texto del navbar */
    padding: 10px 20px;
    margin-top: 0; /* Elimina el margen superior del navbar */
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #ff5f5f; /* Color del enlace al pasar el cursor */
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    flex: 1;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}